<!DOCTYPE html>
   <head>
      <title>GPIO Control</title>
      <link rel="stylesheet" href='../static/style.css'/>
   </head>
   <body>
		<h2>Actuators</h2>
		<h3> Status </h3>
		     Remote
		<h3></h3>
			<a href="/left" class="button">ON/OFF</a>  
			<a href="/right"class="button">VOL+</a>
			<a href="/up"class="button">FUNC/STOP</a>
		<h3></h3>
			<a href="/left" class="button">&#x23EE</a>  
			<a href="/right"class="button">&#x23EF</a>
			<a href="/up"class="button">&#x23ED</a>
		<h3></h3>
			<a href="/left" class="button">&#9660</a>  
			<a href="/right"class="button">VOL-</a>
			<a href="/up"class="button">&#x25B2</a>
		<h3></h3>
			<a href="/left" class="button">0</a>  
			<a href="/right"class="button">EQ</a>
			<a href="/up"class="button">ST/REPT</a>
		<h3></h3>
			<a href="/1/0/0/yes" class="button">1</a>  
			<a href="/0/1/0/yes"class="button">2</a>
			<a href="/0/0/1/yes"class="button">3</a>
		<h3></h3>
			<a href="/1/1/0/yes" class="button">4</a>  
			<a href="/0/1/1/yes"class="button">5</a>
			<a href="/1/0/1/yes"class="button">6</a>
		<h3></h3>
			<a href="/1/1/1/yes" class="button">7</a>  
			<a href="/0/0/0/yes"class="button">8</a>
			<a href="/up"class="button">9</a>	
		
   </body>
</html>
